#set autoindent
#set brackets ""')>]}"
#set matchbrackets "(<[{)>]}"
set quickblank
set smooth
set smarthome
set tabsize 3
set tabstospaces
set nowrap
set const

include "~/.config/nano/azy.nanorc"
include "~/.config/nano/c.nanorc"
include "~/.config/nano/conf.nanorc"
include "~/.config/nano/css.nanorc"
include "~/.config/nano/debian.nanorc"
include "~/.config/nano/httpcodes.nanorc"
include "~/.config/nano/js.nanorc"
include "~/.config/nano/makefile.nanorc"
include "~/.config/nano/nanorc.nanorc"
include "~/.config/nano/patch.nanorc"
include "~/.config/nano/pkgbuild.nanorc"
include "~/.config/nano/sh.nanorc"
include "~/.config/nano/xml.nanorc"
include "~/.config/nano/xorg.nanorc"
