!*font: xft:Inconsolata:size=6:hintstyle=hintfull, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!*font: xft:Inconsolata:size=8

! Color theme
#include "/home/kuri/.config/term/aero.rc"

URxvt*scrollBar: false
URxvt.urgentOnBell: True
URxvt.visualBell: False
URxvt*saveLines: 1024
URxvt*mouseWheelScrollPage: true

!URxvt.letterSpace: -2
!URxvt.font: xft:Inconsolata:size=8:hintstyle=hintfull, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt.boldFont: xft:Inconsolata:size=8:hintstyle=hintfull, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt.italicFont: xft:Inconsolata:size=8:hintstyle=hintfull, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt.boldItalicFont: xft:Inconsolata:size=8:hintstyle=hintfull, -xos4-terminesspowerline-medium-r-normal--12-120-72-72-c-60-iso10646-1

URxvt.letterSpace: -1
URxvt.font: xft:inconsolata for Powerline:size=8
URxvt.boldFont: xft:inconsolata for Powerline:size=8
URxvt.italicFont: xft:inconsolata for Powerline:size=8
URxvt.bolditalicFont: xft:inconsolata for Powerline:size=8
